
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
header{
    background-image: url("images/building.png");
    width: 100%;
    height: 1000px;
    background-repeat:no-repeat;
    margin: 0px;
}

.title{
    padding-top: 120px;
    font-size: 50px;
    color:white;
    text-align: center;
}

.textheader{
    text-align: center;
    color:white;
    margin: 20px;
}

.textheader p{
    margin: 0px;

}

.button{
    width: 240px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fc1934;
    padding-left: 10px;
    cursor: pointer;
}


.button img{
    width:40px;
    height: 40px;
}

.button:hover{
    background-color: #74131e;

}


.buttons{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.textfeature{
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textfeature p{
    margin: 0px;
}

.tick img{
    width: 35px;
    height: 35px;
}

.feature{
    display: flex;
    gap: 10px;
}

/*

.cover{
    margin: 0px;
    width: 100%;
    height: 1000px;
    position: absolute;
    background-color: black;
    top: 1px;
    opacity: 0.5;
    z-index: -100;
}

*/

.column{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.iphoneimage img{
    width: 300px;
    height: 600px;
}

.phonebox{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.explenation{
    width: 100%;
    color:black;
    background-color:white;
    z-index: 1000;
}

.h1{
    font-size: 70px;
    text-align: center;
    margin: 0px;
    margin-top: 50px;
    padding-top: 50px;
    background-color: #d2d2d2;
    border-top: 1px solid gray;
}

.explenation p{
    margin: 0px;
    color: gray;
    font-size: 20px;
    text-align: center;
    background-color:#d2d2d2 ;
}

.itembox{
    padding: 100px;
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;

}

.item p{
    margin: 0px;
}

.item img{
    width: 30px;
    height: 30px;
    margin: 0px;
}

.item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
